<% unless comment.archived? %>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= comment.commenter %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Comment</h6>
    <p class="card-text"><%= comment.body %></p>
    <span class="btn btn-danger"><%= link_to 'Destroy Comment', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %></span>
  </div>
</div>

<% end %>

